/* ---- Elementos ---- */
:root {
  --white-color: #fefff1;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "tusker";
  src: url("tusker-grotesk-5700-bold.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./assets/imgs/fondobarberia2.jpg");
}

header,
footer {
  display: flex;
  align-items: center;
  height: 150px;
  padding: 15px 50px;
  background-color: black;
  gap: 30px;
}

footer {
  height: fit-content;
  justify-content: center;
}

a,
p,
h1,
h2,
h3,
li,
.prom {
  letter-spacing: 1px;
  font-family: "Tusker";
  color: var(--white-color);
  text-shadow: 3px 1px 2px #111;
}

button {
  padding: 12px 30px;
  border: 2px solid var(--white-color);
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Tusker";
  font-size: 16px;
  transition: 0.3s;
  color: var(--white-color);
}

button:hover {
  background: var(--white-color);
  transition: 0.5s ease;
  color: #111;
}

/* ---- Clases ---- */
.cortes {
  width: 500px;
}

.logo {
  height: 120px;
  margin-right: auto;
}

.socials {
  width: 50px;
  color: var(--white-color);
}

.container {
  display: flex;
  align-self: center;
  align-items: stretch;
  gap: 150px;
}

.in_container {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(30px);
  border-radius: 5%;
  align-items: center;
  flex: auto;
}

.botonera {
  display: flex;
  margin-right: auto;
  gap: 50px;
}

/* ---- Elementos Particulares ---- */

#cortes {
  text-align: center;
}

#videoPresentacion {
  width: 350px;
  flex: auto;
}

#ubicacionTexto {
  margin-top: 25px;
}

#horarios {
  margin: 20px 40px 20px 40px;
}

#ubicacion {
  margin-top: 20px;
}

#ubicacionMapa {
  margin-top: 20px;
  text-align: center;
  flex-grow: 1;
}

#promociones {
  flex-grow: 2;
  margin-top: 25px;
}

#listaPromociones li {
  margin-top: 20px;
  margin-bottom: 20px;
}
