/* ---- Elementos ---- */
:root {
  --white-color: #fefff1;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./assets/imgs/fondobarberia2.jpg");
}

header,
footer {
  display: flex;
  align-items: center;
  height: 150px;
  padding: 15px 50px;
  background-color: black;
  gap: 30px;
}

footer {
  height: fit-content;
  justify-content: center;
}

h1,
h2 {
  color: var(--white-color);
}

button {
  padding: 12px 30px;
  border: 2px solid var(--white-color);
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Tusker";
  font-size: 16px;
  transition: 0.3s;
  color: var(--white-color);
}

button:hover {
  background: var(--white-color);
  transition: 0.5s ease;
  color: #111;
}

/* ---- Clases ---- */

.cervezas {
  width: 500px;
}

.cortes {
  width: 500px;
}

.logo {
  height: 120px;
  margin-right: auto;
}

.socials {
  width: 50px;
  color: var(--white-color);
}

.container {
  display: flex;
  align-self: center;
  margin-bottom: 40px;
  margin-top: 40px;
  gap: 50px;
}

.in_container {
  display: flex;
  backdrop-filter: blur(10px);
  flex-direction: column;
  width: 800px;
  border-radius: 5%;
  align-items: center;
  align-content: center;
}

/* ---- Elementos Particulares ---- */

#cortes {
  text-align: center;
}

#cervezas {
  text-align: center;
  font-family: Garamond;
}

#videoPresentacion {
  width: 500px;
}

#horarios {
  margin: 20px 40px 20px 40px;
}

#ubicacion {
  margin-top: 20px;
}

#ubicacionMapa {
  margin-top: 20px;
  flex: auto;
  text-align: center;
}

#ubicacionFotosLocal {
  flex: auto;
}

#ubicacionTexto {
  flex: auto;
}
@font-face {
  font-family: "tusker";
  src: url("tusker-grotesk-5700-bold.ttf") format("truetype");
}
h2,
h3,
p,
.promo {
  font-family: "tusker";
  color: white;
  letter-spacing: 1px;
}
