/* ---- Elementos ---- */
:root {
  --white-color: #fefff1;
  --offwhite-color: #bdbeae;
  --card-width: 400px;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "tusker";
  src: url("tusker-grotesk-5700-bold.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 40px;
  background-image: url("./assets/imgs/fondobarberia2.jpg");
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 50px;
}

header,
footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 150px;
  padding: 15px 50px;
  background-color: black;
  gap: 30px;
}

footer {
  height: fit-content;
  justify-content: center;
}

a,
p,
h1,
h2,
h3,
li,
.prom {
  letter-spacing: 1px;
  font-family: "Tusker";
  color: var(--white-color);
  text-shadow: 3px 1px 2px #111;
}

button {
  padding: 12px 30px;
  border: 2px solid var(--white-color);
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Tusker";
  font-size: 16px;
  transition: 0.3s;
  color: var(--white-color);
}

button:hover {
  background: var(--white-color);
  transition: 0.3s ease;
  color: #111;
}

video {
  min-width: 150px;
  max-width: 350px;
}

li {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}

/* ---- Clases ---- */
.logo {
  height: 120px;
  margin-right: auto;
}

.link {
  color: var(--offwhite-color);
  text-decoration: none;
  font-size: 22px;
}

.link:hover {
  color: var(--white-color);
  font-size: 26px;
  transition: 0.3s ease-in-out;
}

.socials {
  width: 50px;
  color: var(--white-color);
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: inherit;
}

.textContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: var(--white-color);
  top: 20px;
  gap: 300px;
  width: var(--card-width);
}

.vertical {
  min-width: 560px;
  padding: 40px;
  flex-wrap: wrap;
  flex-direction: column;
  backdrop-filter: blur(30px);
  border-radius: 5%;
  align-items: center;
  justify-content: space-around;
}

.vertical > .vertical {
  backdrop-filter: none;
}

.unico {
  align-self: center;
}

.botonera {
  display: flex;
  margin-right: auto;
  align-items: center;
  gap: 50px;
}

.mapa {
  width: 750px;
  height: 450px;
  border-style: none;
}

.card {
  position: relative;
  min-width: var(--card-width);
  height: var(--card-width);
  text-align: center;
  color: var(--white-color);
  scroll-snap-align: start;
  /*animation: avanzar 12s infinite;*/
}

.direcciones {
  height: 100%;
  border: none;
}
.promoImg {
  height: var(--card-width);
  width: var(--card-width);
  object-fit: fill;
  object-position: 0;
}

.strokeText {
  -webkit-text-stroke: 1px #111;
}

.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--card-width);
}

@keyframes avanzar {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes avanzarEntra {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
}
@keyframes retroceder {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes retrocederEntra {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* ---- Elementos Particulares ---- */
#avanzar {
  order: 2;
  width: 15px;
}
#retroceder {
  order: 0;
  width: 15px;
}
#flechaRetroceder {
  fill: white;
}

#cardContainer {
  display: flex;
  width: var(--card-width);
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  gap: 8px;
}
